openai==1.108.1
anthropic==0.68.0
tiktoken==0.11.0
gpt-researcher==0.14.4
unstructured-client==0.42.3
unstructured==0.18.15
unstructured-inference==1.0.5
langchain-unstructured==0.1.6
langchain-core==0.3.76
langchain==0.3.27
langchain-community==0.3.29
langchain-deepseek==0.1.4
langchain-openai==0.3.33
langchain-anthropic==0.3.20
tavily-python==0.7.12
firecrawl-py==4.3.6
networkx==3.5
langchain-text-splitters==0.3.11
python-dotenv==1.1.1
faiss-cpu==1.12.0
markdown-it-py==4.0.0
numpy==2.3.3
ruff==0.13.1
